@{
    ViewBag.Title = "Home Page";
}

<main>
    @Html.ActionLink("Employee", "Index", "Employee", new { area = "" }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Over Time Entry", "Index", "Overtime", new { area = "" }, new { @class = "btn btn-primary" })
</main>