@{
    ViewBag.Title = "Home Page";
}

<main>
    @Html.ActionLink("Employee", "Employee", "Home", new { area = "" }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Over Time Entry", "Employee", "Home", new { area = "" }, new { @class = "btn btn-primary" })
</main>